nav(class='navbar navbar-inverse navbar-fixed-bottom' id='bottom-nav')
  div(class="container left", id="next-dj-container")
    table(class='table', id='next-dj-banner', style='margin-bottom:0px;')
      tbody
        tr
          td(id='up-next-label') Up next:
          td(id='next-dj-name')
          td(id='next-track')
  form(class='navbar-form form-inline navbar-right', id='chat', action='')
    button(class='btn btn-default jub-nav-item', type='button', id='join-dj',
           data-toggle='tooltip', data-placement='top',
           title='Click to DJ')
      span(id='join-dj-icon', class='glyphicon glyphicon-user')
    input(class='form-control jub-nav-input jub-nav-item', id='chat-input', autocomplete='off',
          placeholder='Chat')

script.

  // DJ button
  $('#join-dj').on('click', function() {
    if (!djing) {
      socket.emit('add dj', getUsername());
      console.log("add dj");
      djing = true;
    } else {
      socket.emit('remove dj', getUsername());
      console.log("remove dj");
      djing = false;
    }
    drawDjState();
  });

  // Some other part of the page wants to set the DJ state
  $('#join-dj').on('set-dj-state', function(e, newState) {
    console.log('dj-state', newState);
    djing = newState;
    drawDjState();
  });

  // Server assigns 'djing' state
  socket.on('user djing', function(state) {
    $('#join-dj').trigger('set-dj-state', state);
  });

  // Server assigns 'djing' state
  socket.on('up next', function(list) {
    console.log("up next", list);
    var nextDj = $('#next-dj-name');
    var nextTrack = $('#next-track');
    var label = $('#up-next-label');
    if (list.length > 0) {
      var first = list[0];
      console.log("first", first);
      nextDj.text(first.user);
      nextDj.attr('title', first.user);
      if (first.userColor) { nextDj.css({'color': first.userColor}) }
      nextTrack.text(first.title);
      nextTrack.attr('title', first.title);
      label.show();
    } else {
      nextDj.text('');
      nextTrack.text('');
      label.hide();
    }
    refreshSizes();
  });

  function drawDjState() {
    var elem = $('#join-dj');
    if (djing) {
      elem.css('background', '#2DB85A');
      elem.css('color', '#000');
      $('#join-dj-icon').attr('class', 'glyphicon glyphicon-headphones');
      $('#join-dj').attr('title', 'Stop DJing');
    } else {
      elem.css('background', '#3F2C52');
      elem.css('color', '#FFFFFF');
      $('#join-dj-icon').attr('class', 'glyphicon glyphicon-user');
      $('#join-dj').attr('title', 'Click to DJ');
    }
  }

  // Client chat message submission
  $('#chat').submit(function() {
    var msg = $('#chat-input').val();
    var username = getCookie('username');
    if (username == '') {
      alert('You must be logged in to chat.')
    } else {
      socket.emit('chat message', {
        user: username,
        text: msg,
      });
    }
    $('#chat-input').val('');
    return false;
  });



