doctype html
html(lang="en")
  head
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    include head
  body
    div(class='container-fluid', id='jub-container')
      include top

      // Main page content
      block main-content

    // Outside of the container
    include bottom
      block bottom-content

// Load some JavaScript files
script(src='/javascripts/resizing.js')
script(src='/javascripts/gapi.js')
script(src='/javascripts/global.js')

// Loaded here because the "on load" callback needs to be defined first
script(src="https://apis.google.com/js/client.js?onload=OnGAPILoad")
