extends layout

block main-content
  div(class='col-md-4')
  div(class='col-md-4')
    div(id='login-confirm-welcome', style='font-size: 32px;')
      span Welcome to the pub,
      style .userColor {color: !{userColor};}
      span(class='userColor') !{username}
      span !
    div
      if room && room !== 'undefined'
        a(href=room, style='font-size: 16px;') Start jubbing (!{room})
      else
        br
        div Contact aromatt for info on joining a room.
  div(class='col-md-4')
