doctype html
html(lang="en")
  head
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    include ./head.jade

  body
    nav(class='navbar navbar-inverse navbar-fixed-top' id='top-nav')
      div(class='container-fluid')
        div(class='row', id='jub-row-top')
          div(class='col-md-9')
          div(class='col-md-3')
            ul(class='nav navbar-nav navbar-right')
              // Title
              li
                p(class='navbar-text', id='title', style='font-size:36px;') thejub.pub
              li
                a(class="a-link-to-the-past" href='https://github.com/aromatt/thejub.pub/issues',
                  target="_blank", style="line-height:1.9; margin-right: 25px") Git

    div(class='container-fluid', id='report-container', style='font-family: monospace;')

script.

  var report = !{report};

  function appendData(div, data) {
    console.log("appending data", data);
    if (typeof data === 'Array') {
      for (item of data) {
        div.append(document.createTextNode(JSON.stringify(item)));
        div.append($('<br>'));
      }
    } else if (typeof data === 'number' || typeof data === 'string') {
      div.append(document.createTextNode(data));
    } else if (typeof data === 'object') {
      for (key in data) {
        div.append(document.createTextNode(key + ": " + JSON.stringify(data[key])));
        div.append($('<br>'));
      }
    } else {
      div.append(document.createTextNode("Uh oh... type is " + (typeof data).toString()));
    }
  }

  function drawReport(report) {
    console.log(report);
    for (section of report) {
      console.log(JSON.stringify(section));
      var sectionDiv = $('<div>');
      var heading = $('<h3>');
      var body = $('<div>');
      heading.append(document.createTextNode(section.title));
      appendData(body, section.data);
      sectionDiv.append(heading);
      sectionDiv.append(body);
      $('#report-container').append(sectionDiv);
    }
  }

  $( document ).ready(function() {
    console.log(report);
    drawReport(report);
  });
