extends layout

block main-content
  div(class='col-md-4')
  div(class='col-md-4')
    div(style='font-size:19px; margin: 0px 0px 10px 0px; text-align: center;') Your password has been reset.
      br
      a(href='/login') Log in
