div(class='row', id='jub-row-main')
  input(type="hidden", name="room", value=room, id='room')

  div(class='col-md-3', id='jub-col-queue')
    include queue.jade

  div(class='col-md-6', id='jub-col-player')
    include player.jade

  div(class='col-md-3', id='jub-col-chat')
    include chat.jade
