extends layout

block includes
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js')
  script(src='/javascripts/sockets.js?' + __version__)
  script(src='/javascripts/resizing.js?' + __version__)
  script(src='/javascripts/gapi.js?' + __version__)

  // Loaded last because the "on load" callback needs to be defined first, in gapi.js
  script(src="https://apis.google.com/js/client.js?onload=OnGAPILoad")

block top-content
  include room-top.jade

block main-content
  include room-main.jade

block bottom-content
  include room-bottom.jade

block scripts
  script.
    var authCheckPeriodSeconds = 300;
    setInterval(verifyAuthToken, authCheckPeriodSeconds * 1000);
