div(class='row', id='jub-row-main')
  div(class='col-md-3', id='jub-col-queue')
    include queue

  div(class='col-md-6', id='jub-col-player')
    include player

  div(class='col-md-3', id='jub-col-chat')
    include chat
