extends layout

- var show_login = false

block main-content
  div(class='col-md-4')
  div(class='col-md-4')
    div(id='signup-confirm-welcome', style='font-size: 32px;')
      span Welcome to the pub, !{username}!
    div
      if room
        a(href=room, style='font-size: 16px;') Back to the room (!{room})
  div(class='col-md-4')
