ul(class='nav navbar-nav navbar-right')
  li
    div(id='login-div', style='min-width: 60px; margin: 20px 0px 0px 0px;')
      if show_login
        - var logAction = "Log in"
        - var logPath = '/login'
        if loggedIn
          - logAction = "Log out"
          - logPath = '/logout'
        if room && room !== 'undefined'
          - logPath = logPath + '?room=' + room
        a(href=logPath)= logAction

  li
    p(class='navbar-text', id='title',
      style='font-size:36px; margin: 0px 20px 0px 0px;')
      - var welcomePath = '/welcome'
      if room && room !== 'undefined'
        - welcomePath = welcomePath + '?room=' + room
      a(class='title', href=welcomePath) thejub.pub

