script.

  var getUsername = function() {
    return getCookie('username') || getCookie('nickname');
  };

  // Document is loaded so cookies are probably ready. User sends its
  // sessionToken, we can request all the room's context info
  $( document ).ready(function() {
    // Now that we have our official user name, ask for our preferences and
    // other state info. Other parts of the page respond to the answers
    socket.emit('chat cache');
    socket.emit('up next');
  });

  // Server is asking who is present
  // TODO this probably isn't needed anymore
  socket.on('ping users', function() {
    socket.emit('user present');
  });
