script.

  $( document ).ready(function() {
    // Inform the server we are good to go
    socket.emit('user loaded');

    userKind = getUserKind();

    if (userKind === null) {
      redirectToWelcome();
    }

    // Request page state from the server.
    // Other parts of the page respond to the answers.
    console.log("requesting chat cache and up next");
    socket.emit('chat cache');
    socket.emit('up next');

    if (userKind === 'account') {
      console.log("requesting user data");
      socket.emit('preferences');
      socket.emit('playlists');
      socket.emit('user djing');
    }
  });
