* {
  box-sizing: border-box;
  border-radius: 0 !important; /* square corners */
}

.left { float: left ; }
.right { float: right ; }

#jub-container {
  width: auto;
  height: auto;
}

#jub-row-main {
  margin-left: 0px;
  margin-right: 0px;
  height: 500px;
}

#jub-col-chat {
  padding-right: 0;
}

#jub-col-queue {
  padding-left: 0;
}

body {
  padding-top: 80px;
  font-size: 13px;
  background-color: #161616;
  color: #DDDDEE;
  max-height: 10000000px;
  height: 100%;
}

.form-control {
  border: 0px;
  background-color: #222222;
  color: #BBBBBB;
  font-size: 13px;
  font-weight: normal;
}

.btn {
  background-color: #3F2C52;
  border-color: #3F2C52;
  color: #fff;
  font-size: 13px;
}

.material-icons {
  font-size: 20px;
}

/* title */
#title {
  color: #DDDDEE;
  padding-right: 0px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0px;
}

/* jub-style lists */
.jub-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.jub-list li {
  padding: 5px 10px;
  background: #111;
  font-size: 13px;
}
.jub-list li:nth-child(odd) { background: #1C1C1C; }

/* separator for sandbox playlist TODO */
#playlists li:nth-child(0) {
  border-bottom: 1px;
  border-color: #111111;
}

/* panel commonalities */
#player-panel,
#queue-panel,
#queue-settings-panel,
#chat-settings-panel,
#playlists-panel {
  border: 0;
  background-color: #111;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
#player-panel .panel-body,
#queue-panel  .panel-body,
#playlists-panel .panel-body {
  border: 0;
  background-color: #161616;
  padding: 0 0 0 0;
}

#player-panel .panel-footer,
#queue-panel  .panel-footer,
#playlists-panel .panel-footer {
  font-size: 12px;
}
#player-panel td,
#queue-panel  td {
  border: 0;
  padding: 5px 5px 5px 5px;
}
#video-queue,
#playlists-panel {
  color: #BBBBCC; /* slightly darker text for queue items */
}
#queue-banner,
#playlists-banner {
  background: #111;
}

/* player panel */
#player-panel * {
  border: 0;
  background-color: #111;
}
#player-panel,
#player-shield {
  width: 484px; /* width of the player */
}
#player-panel .panel-body,
#player-shield {
  height: 290px;
}
#player-shield,
#player {
  position: absolute;
}
#player-shield {
  text-align: center;
}
#player-shield span {
  font-size: 100px;
  position: relative;
  top: 95px;           /* 290px (height of player) - 100px (font size) / 2 */
  color: #1D1D1F;
}
/* video queue, playlists */
#queue-count {
  color: #DDDDEE;
  font-size: 13px;
}
#video-queue,
#playlists {
  overflow-y:auto;
}
#video-queue .queue-item *,
#playlists .playlist-item * {
  font-weight: normal;
  padding: 0px 0px 0px 0px;
}
#playlists-panel table {
  margin-bottom: 0px;
}
#playlists-panel table>tbody>tr>td {
  padding: 5px 5px 5px 5px;
  border: 0;
}
#video-queue li,
#playlists li {
  /* NOTE if you update these spacing values, update lib/queue.js:'redraw_items' */
  padding: 3px 3px 3px 5px;
}
#playlists .playlist-item .playlist-name {
  margin-right: 4px;
}
#video-queue .queue-item input {
  margin-left: 5px;
}
#video-queue .queue-item .chk-td {
  width: 24px;
}
#video-queue .queue-item .duration {
  width: 63px;
  padding: 0px 5px 0px 5px;
  text-align: right;
}
#playlist-name-banner tr {
  overflow: visible;
  white-space: nowrap;
}
#playlist-name-banner td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*TODO*/
#video-queue .queue-item .queue-chk,
#playlists .playlist-item .playlist-radio {
  margin-top: 3px;
  margin-right: 4px;
  float: left;
}
#queue-panel table {
  table-layout: fixed;
  width: 100%;
}
#queue-context-menu {
  position: absolute;
  display: none;
}
#queue-context-menu .ul {
  background-color: #000;
}
#select-all {
  margin: 10px 3px 10px 0px;
}
#select-all-label {
  position: relative;
  top: -2px;
}

/* TODO create class for orange buttons */
#queue-panel .btn:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}
#shuffle {
  background-color: #942D00 ;
  border-color: #942D00 ;
  float: right ;
  margin-left: 10px;
}
#delete-track {
  background-color: #8B0000 ;
  border-color: #8b0000 ;
  display: none ;
}
#send-to-top {
  background-color: #005D8B ;
  border-color: #005D8B ;
  display: none ;
}
#send-to-bottom {
  background-color: #886600 ;
  border-color: #886600 ;
  display: none ;
}
#copy-playlist {
  background-color: #248f24 ;
  border-color: #248f24 ;
  /*display: none ;*/
}
#delete-playlist {
  background-color: #8B0000 ;
  border-color: #8B0000 ;
  /*display: none ;*/
}


#join-dj {
  margin-right: 10px;
}
#join-dj-icon {
  padding-top: 2px;
  padding-bottom: 5px;
}
/* chat settings panel */
#queue-settings-panel .panel-body,
#chat-settings-panel .panel-body {
  padding: 10px 5px 5px 5px;
}
#queue-settings-panel .panel-body label,
#chat-settings-panel .panel-body label {
  font-weight: normal;
  margin-bottom: 0px;
}
#queue-settings-panel input[type=checkbox],
#chat-settings-panel input[type=checkbox] {
  margin: 2px 5px 5px 4px;
  float: left;
}
#username-input {
  border: 1px;
  border-color: #223;
  width: 95%;
  margin-left: 4px;
  border-style: solid;
}

.a-link-to-the-past {
  color: #0097AA;
}

/* navbar */
.jub-nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-fixed-top {
  height: 60px;
}

/* inputs in nav bars */
.jub-nav-input {
  background: #161616;
}

#messages {
  overflow-y:auto;
}

/* current users */
#jubbin-list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style-type: none;
  max-height: 400px;
  overflow-y:auto;
}


/* nav tabs */
.nav-tabs {
  border-bottom: 0px solid #111;
}
.nav-tabs>li>a {
  border: 0px solid #111;
  color: #AAAABB;
  padding: 8px 20px 4px 20px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active {
  background-color: #3F2C52;
  border: 0px solid #111;
  border-width: 0px 0px 3px 0px;
  border-bottom-color: #654784;
  color: #FFF;
}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  background-color: #2C1E39;
  border-bottom-color: #39274a;
  border-width: 0px 0px 3px 0px;
  color: #FFF;
}


/* TOP NAV BAR */
#load-video {
  padding-right: 5px;
}

#omnibox {
  width: 220px;
  padding-right: 0px
}

/* Current DJ and track */
/* TODO is this label cool? */
/*#now-playing-label {
  color: #778;
  width: 70px;
  text-align: right;
  font-size: 10px;
}*/
#dj-banner {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
#dj-banner>tbody * {
  border-top: 0px;
}
#current-dj-name,
#current-track {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
#current-dj-name,
#current-track,
#time-left {
  font-size: 17px;
  line-height: 2.18;
}
#now-playing-label {
  text-align: right;
  padding-top: 18px;
  color: #777;
}
#current-track {
  color: #DDDDEE;
  font-weight: normal;
  padding-left: 0px;
}
#current-dj-name {
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  padding-left: 0px;
}
#time-left {
  color: #EEE;
  text-align: right;
  padding-right: 20px;
  width: 80px;
}

/*
 * Autocomplete
 */

/* Hide weird accessibility thing from jquery-ui's autocomplete */
.ui-helper-hidden-accessible { position: absolute; left: -9999px; }
.ui-autocomplete {
  position: absolute; cursor: default;
}

/* TODO maybe use later */
/*.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}*/

/* workarounds */
* html .ui-autocomplete {
  width:1px;
  background-color: #181818;
  color: #DDDDEE;
} /* without this, the menu expands to 100% in IE6 */

.ui-menu {
  list-style:none;
  padding: 5px;
  margin: 0;
  display:block;
}

.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  font-size: 12px;
}

.ui-menu .ui-menu-item a {
  background-color: #181818;
  color: #DDDDEE;
  text-decoration:none;
  display:block;
  padding:.2em .4em;
  line-height:1.5;
  zoom:1;
}
.ui-widget-content {
  z-index:9999;
  background: #181818;
  background-color: #181818;
  color: #DDDDEE;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  margin: -1px;
}


